<!DOCTYPE html>
<html>
    <head>
        <title>
            Profile Page
        </title>
    </head>
<body
  <h1>Hello! Welcome to your profile page!</h1>

    <h2>Todays weather will be {{text}} and {{temp}} F</h2>
    <h3> With a high of {{high}} F and a low of {{low}} F </h3>
    <h5>According to Yahoo Weather at {{date}}</h5>



    <h2> Where will you be running? </h2>
    <form action="/makemap" target="_blank" method="POST">
      Starting Location:<br>
      <input type="text" name="start"><br>
      Distance:<br>
      <input type="text" name="distance"><br><br>
      <input type="submit" value="Submit">
    </form>
  </p>
</body>
</html>
